.DS_Store
alurapic/node_modules/
alurapic/dist/
alurapic/npm-debug.log
alurapic/.DS_Store
api-alura/.tmp
api-alura/.DS_Store
api-alura/node_modules/
api-alura/.dpl/
blog-api-udemy/config/local.js
blog-api-udemy/node_modules
blog-api-udemy/bower_components
blog-api-udemy/.tmp
blog-api-udemy/dump.rdb
blog-api-udemy/lib-cov
blog-api-udemy/*.seed
blog-api-udemy/*.log
blog-api-udemy/*.out
blog-api-udemy/*.pid
blog-api-udemy/npm-debug.log
blog-api-udemy/*~
blog-api-udemy/*#
blog-api-udemy/.DS_STORE
blog-api-udemy/.netbeans
blog-api-udemy/nbproject
blog-api-udemy/.idea
blog-api-udemy/.node_history
